{% extends 'admin/base_site.html' %}
{% load i18n %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label='user_orders' %}">User_Orders</a>
        &rsaquo; <a href="{% url 'admin:user_orders_user_changelist' %}">Users</a>
        &rsaquo; {% trans 'Import users from csv' %}
    </div>
{% endblock %}
{% block content %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Import"/>
    </form>
    {{ block.super }}
{% endblock %}